// Definición del placeholder selector
%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
        transform: scale(0.98);
        font-weight: 400;
    }
}

// Estilos para el botón primario
.btn-primary {
    @extend %btn; // Extendemos el placeholder selector
    background-color: $primary;
    color: $white;

    &:hover {
        background-color: $tertiary-color;
        color: $white-color; // Cambiamos el color al hacer hover
    }
}
