@import 'variables' ;
@import "../node_modules/bootstrap/scss/bootstrap";
@import 'botones';



// Configurar Bootstrap para usar jQuery
$jquery-url: "~jquery/dist/jquery.js";

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: $primary;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before{
    display: block;
    content: '';
    height: 100px;
}

ul{
    list-style: none;
    
    li{
        display: inline-block;
    }

    a{
        text-decoration: none;
        color: $primary;
    }

    

}

.card{

    .text-truncate-3-lines {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
}

#instructores{
    background-color:  $bg-primary;

    h2{
        color: $white-color;
    }
}

.motivate{
    img {
        width: 50%;
    }

    .fotos{
        img{
            width: 50%;
        }
    }




      


}

#testimoniales {
    .card {
      border: 1px solid $primary;

  
      .fa-quote-left {
        color: $primary; // Primary color for quotes
        font-size: 2rem;
        margin-right: 0.5rem;
      }
  
      img{
        height: 10rem;
        width: 10rem;
        border-radius: 75%;
        margin-right: 0.5rem;
    }

    .fa-star, .fa-star-half-alt{
        color: #ffbf00;

    }
    }
  }


  #running{
    .bi-instagram{
        font-size: 2rem;
    }
  }

.d-item{
    color: $white-color;
    height: 700px;
}

.d-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}